.aboutMe__modal__body {
    padding: 15px 10px;
    width: 50vw;
}

.aboutMe__modal__body h2 {
    display: block;
    width: fit-content;
    padding: 0;
    margin: 0 auto 10px auto;
    font-size: 28px;
    font-weight: 200;
}

.aboutMe__modal__body form textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 15px 0;
    min-height: 300px;
    border: 1px solid #d4d4d4;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.aboutMe__modal__body form textarea:focus {
    outline: none;
    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: 0 0 20px 0 #d4d4d4;
}

.aboutMe__modal__body button {
    display: block;
    width: 30%;
    padding: 20px 0;
    margin: 0 auto;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s ease;
}

.aboutMe__modal__body .button:hover {
    background-color: #404040;
}

@media (max-width: 767px) {
    .aboutMe__modal__body {
        width: 75vw;
    }
    .aboutMe__modal__body button {
        width: 40%;
        padding: 10px 5px;
    }
}

