.app_wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.app_wrapper_content {
    padding-top: 50px;
    color: black;
    min-height: 100%;
}

@media (max-width: 767px) {
    .app_wrapper_content {
        padding-top: 40px;
    }
}

