.blog__container {
    max-width: 100%;
    min-height: 100vh;
    color: black;
}

.header__container {
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
    border-bottom: 12px solid black;
}

.header__container img {
    display: block;
    float: left;
    width: 100%;
}

.category {
    display: flex;
    justify-content: space-between;
}

.category .video__category,
.category .makeupbag__category,
.category .life__category {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    letter-spacing: 10px;
    color: white;
    text-transform: uppercase;
    width: 100%;
    height: 30vh;
    margin-right: 10px;
    text-decoration: none;
    filter: grayscale(100%);
}

@media (max-width: 1040px) {
    .category .video__category,
    .category .makeupbag__category,
    .category .life__category {
        font-size: 24px;
        letter-spacing: 5px;
        height: 20vh;
    }
}

.category .video__category {
    background: url('../../assets/images/blog/video_background.jpg') no-repeat center/cover;
}

.category .makeupbag__category {
    background: url('../../assets/images/blog/makeupbag_background.jpg') no-repeat center/cover;
}

.category .life__category {
    background: url('../../assets/images/blog/life_background.jpg') no-repeat bottom/cover;
    margin: 0;
}

.category .video__category:hover,
.category .makeupbag__category:hover,
.category .life__category:hover {
    filter: none;
}

.category .video__category span,
.category .makeupbag__category span,
.category .life__category span {
    color: white;
    background: black;
    border: 2px solid whitesmoke;
    padding-left: 10px;
    z-index: 10;
}

.blog__body {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 5px 0 5px;
    text-align: center;
}

.posts__container {
    flex: 0 0 75%;
    display: block;
}

.search {
    flex: 0 0 25%;
}

.post {
    position: relative;
    margin-bottom: 50px;
    border-bottom: 2px solid #d6d6d6;
}

.post:last-of-type {
    margin-bottom: 15px;
}

 .post time {
    font-size: 0.8em;
    font-style: italic;
    float: right;
    margin-right: 40px;
    opacity: 0.5;
}

.post h2 {
    font-size: 28px;
    font-weight: 200;
    margin: 0 0 40px 0;
}

.post .headerMedia__container {
    width: 100%;
    margin-bottom: 50px;
}

.headerMedia {
    width: 80%;
    margin: 0 auto;
}

.headerMedia img {
    max-width: 80%;
}

.headerMedia video {
    display: block;
    width: 100%;
    
}

.body__container p {
    display: block;
    width: 100%;
    margin-bottom: 35px;
}
.readMore {
    display: block;
    margin-bottom: 50px;
}

.readMore a {
    display: inline-block;
    padding: 20px 70px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s ease;
}

.readMore a:hover {
    background-color: #404040;
}


.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.photo {
    cursor: pointer;
    text-align: center;
    max-width: 40%;
    margin: 5px;
}

.photo img {
    max-width: 50%;
}

.videoItem video {
    width: 100%;
    margin-bottom: 15px;
} 

.createPost {
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .category {
        display: block;
    }

    .posts__container {
        flex: 0 0 100%;
    }

    .headerMedia {
        width: 100%;
    }

    .post h2 {
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    .readMore {
        margin-bottom: 20px;
    }
    .body__container p {
        font-size: 0.8rem;
    }

    .readMore a {
        padding: 15px 30px;
        font-size: 0.8rem;
    }


    .category .video__category,
    .category .makeupbag__category,
    .category .life__category {
        display: block;
        font-size: 14px;
        letter-spacing: 5px;
    }
    .category .video__category span,
    .category .makeupbag__category span,
    .category .life__category span {
        border: none;
    }
    .search {
        display: none;
    }
}