.header {
    position: fixed;
    width: 100vw;
    background-color: black;
    color: white;
    min-height: 50px;
    z-index: 100;
    font-size: 14px;
    font-weight: 400;
}

 .container {
    max-width: 1000px;
    margin: 0 auto;
}


.header__body {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 0 0 15%;
}

.logo img {
    max-width: 100%;
    filter: invert(100%) contrast(300%);
}

.list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    list-style: none;
    text-transform: uppercase;
}

.list li a {
    white-space: pre;
    cursor: pointer;
    margin: 0 40px 0 0;
    color: inherit;
    text-decoration: none;
}

.list li a:hover {
    color: #e0e0e0;
}

.linkActive {
    color: #858585 !important;
}